---
import Layout from '../layouts/Layout.astro';
import Alert from '../components/atoms/Alert.svelte';
---

<Layout title="Design system">
	<main class="container mx-auto px-4 py-12">
		<h1 class="mb-8 text-2xl font-extrabold tracking-tight sm:text-3xl">Design system</h1>
		<section>
			<div class="prose mb-8 dark:prose-invert">
				<h2>Alerts</h2>
				<p class="lead">
					A simple, customizable alert component using Svelte and TailwindCSS, designed for
					displaying messages with support for several variants and custom styling.
				</p>
				<p><strong>Props</strong></p>
				<ul>
					<li>
						<code>class (string)</code>: Custom classes for styling.
					</li>
					<li>
						<code>variant (string)</code>: Type of alert (success, error, warning, info). Default is
						info.
					</li>
				</ul>
			</div>
			<div class="grid gap-3 sm:grid-cols-2 lg:grid-cols-3">
				<Alert>Base</Alert>
				<Alert variant="info">Info</Alert>
				<Alert variant="success">Success</Alert>
				<Alert variant="warning">Blank</Alert>
				<Alert variant="error">Error</Alert>
			</div>
		</section>
	</main>
</Layout>

<style>
	.prose :where(h2):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}

	.prose :where([class~='lead']):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}

	.prose :where(p):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
	.prose :where(ul):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}
</style>
