---
import Layout from '../layouts/Layout.astro';
import CloseIcon from '../icons/CloseIcon.svelte';
---

<Layout title="Design system">
	<main class="container mx-auto px-4 py-12">
		<h1 class="mb-4 text-2xl font-extrabold tracking-tight sm:text-3xl">Design system</h1>
		<CloseIcon />
	</main>
</Layout>
