---
import Layout from '../layouts/Layout.astro';
import Router from '../Router.svelte';
---

<Layout title="Vytvořené bouldery">
	<main class="container mx-auto px-4 py-12">
		<h1 class="mb-4 text-2xl font-extrabold tracking-tight sm:text-3xl">Vytvořené bouldery</h1>
		<Router client:only />
	</main>
</Layout>
