---
import Layout from '../layouts/Layout.astro';
import BouldersTable from '../components/molecules/BouldersTable.svelte';
---

<Layout title="Vytvořené bouldery">
	<div class="container mx-auto py-12">
		<BouldersTable client:load />
	</div>
</Layout>
