---
import Layout from '../layouts/Layout.astro';
import Boulder from '../components/templates/NewBoulder.svelte';
---

<Layout title="Vytvoř si nový boulder">
	<main class="container mx-auto px-4 py-12">
		<h1 class="mb-4 text-2xl font-extrabold tracking-tight sm:text-3xl">Vytvoř si nový boulder</h1>
		<Boulder client:load />
	</main>
</Layout>
