---
import Layout from '../layouts/Layout.astro';
import PlaygroundComponent from '../components/templates/Playground.svelte';
---

<Layout title="Vytvoř si vlasrní cesty a obrázky na boulderu">
	<div class="container mx-auto py-12">
		<PlaygroundComponent />
	</div>
</Layout>
