---
import Layout from '../layouts/Layout.astro';
import PlaygroundComponent from '../components/templates/Playground.svelte';
---

<Layout title="Playground">
	<div class="container mx-auto py-12">
		<PlaygroundComponent />
	</div>
</Layout>
